body{
 background-color:#222211;
 font-family: 'Diplomata SC', cursive;
 color: #ccac77;
 margin:0 !important;
}
#top{
	max-width:100%;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
}
#logo{
	font-size:7em;	
	text-shadow:1px 1px #fff;
	padding-left:7px;
}

#logo_sm{
	font-size:4em;	
	text-shadow:1px 1px #fff;
	text-align:center;
}

#logo_sm a,
#logo a{
	color: #997300;
}
#logoTxt{
	font-size:2em;
	text-shadow:1px 1px white;
	padding-top:50px;
	padding-left: 13px;
	color: #997300;
	line-height:90%;
	text-align:left;
}
#watch{
	color: #997300;
	text-shadow:1px 1px #fff;
	font-size:1.5em;
	padding-top:55px;
	text-align:center;
	line-height:90%;
}
/******** sticky MENU******/
.stickyToTop{
	width:100%;
	position:fixed;
	top:0;
	left:0;
	z-index:100;
}

hr{
	max-width:70%;
	border: 1px solid #ccac77;
}

footer{
	max-width:100%;
	min-height:20px;
	background-color:#3d3d29;
	border: 3px solid #ccac77;
	text-align:center;
	padding	:13px;
	border-radius: 7px;
	margin-bottom:25px;
	margin-top:30px;
	margin-left:7px;
	margin-right:7px;
	text-shadow:1px 1px #000;
	font-size: 17px;
}
.scrollUp{
	text-decoration:none;
	font-size: 25px;
	color:#fff;
	position:fixed;
	right:50px;
	bottom:35px;
	opacity:0.3;
	display:none;
}
.scrollUp:hover{
	opacity:0.8;
}
/************************/
article{
	text-align:center;
	text-shadow:2px 2px #000;
}
#mainPage{
 text-align:center;
 font-family: 'Anton', sans-serif;
 text-shadow:2px 2px #000;
}
#mainPage p{
 font-size:20px;
 
 text-align:justify;
}
#mainPage h6,
#mainPage h5{
 font-family: 'Diplomata SC', cursive;
}
a{
	color:#cc9900;
	text-decoration:none;
}
a:hover{
	color:#ffd24d;
	text-decoration:none;
}
.divBorder{
	background:#3d3d29;
	border: 3px solid #ccac77;
	text-align:center;
	border-radius: 7px;
	text-shadow:1px 1px #000;
	box-shadow: 5px 5px 5px #000;

}
#logForm h4{
 font-family: 'Diplomata SC', cursive;
 font-size:17px;
 text-shadow: 2px 2px 3px #000;
}
.navbar{
 font-size:20px;
 font-family: 'Anton', sans-serif;
 font-weight:bold;
 background-color:#997300;
 border-top: 2px solid #ccac77;
 border-bottom: 2px solid #ccac77;
}
.dropdown-menu{
 background-color:#997300;

}
.dropdown-item{
 text-shadow:0 0;
 font-weight:bold;
}
.dropdown-item:hover{
 background-color:#ccac77;
}
/***carousel***/
.carousel-item img{
	height:500px;
	width:100%;
}
.carousel-caption{
	color:#ffffff;
	text-shadow: 3px 3px 5px #000;
} 
/****RegisterModal********/
.modal-content{
 background:#3d3d29;
}
#transBtns{
	margin-left:auto;
	margin-right:auto;
}
table{
	background-color:#3d3d29;
}
table tr th, td{
	color: #ccac77;
}
.table-bordered thead th{
	border-bottom: 2px solid #ccac77;
}
.table-bordered td,
.table-bordered th {
    border: 2px solid #ccac77;
}
.btn-danger,
.btn-primary,
.btn-outline-success,
.btn-outline-primary,
.btn-outline-warning,
.btn-warning{
	text-shadow:0 0 transparent;
}

#removeTransModal{
	border:2px solid #dc3545;
	font-weight:bold;
}
.g-recaptcha{
 display: inline-block;
}
.tbStyle{
 text-shadow:  2px 2px 2px black;
 letter-spacing: 1px;
 font-size: 1.3em;
}


